/* This file is where css selectors for the component go.
   There will be hard coded properties and properties controlled by variables, for example

   login-link .login-link-value-text {
   color: var(--login-link-value-text-color);
   display: inline-block;
	 }
*/
/* Login Link */
.login-link-section {
  text-align: right;
  
  padding-top: 3px;
  padding-right: 10px;
  margin: 0;
}

.login-link-section p {
  font-size: 15px;
  color: white;
}

.login-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.login-link:hover {
  text-decoration: underline;
}

